.grey-back {
    position: absolute;
    background-color: #212121;
    opacity: 0.8;
    padding: 5px 10px 10px 10px;
    width: 90vw;
    height: 80vh;

    // margin: 10% 10% 10% 10%;
    margin-top: -40.9%;
    margin-left: 5%;
    margin-right: 5%;
}
.grey-back h1 {
    color: #FFFFFF;
    font-size: 2em;
    opacity: 1;
}
.grey-back p {
    color: #FFFFFF;
    font-size: 1em;
    opacity: 1;
}
.grey-back .btn {
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.7em;
    background-color: #FF0000;

    padding-bottom: 30px;
    padding-top: 0px;
    opacity: 1;
}

