.services {
    height: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
.services h3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 20pt;
    margin-bottom: 30px;
}
.services i {
    color: #d50000;
}