.contact-page {
    margin-top: 0;
    margin-bottom: 0;

    header {
        height: 30vh;
    }
    header h1 {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        margin-top: 100px;
        margin-bottom: 150px;
    }
    .nav-wrapper {
        background-color: #1a1a1a !important;
    }
    .main-area {
        height: 62.5vh;
    }
}