.services-page {
    margin-top: 0;
    margin-bottom: 0;

    header {
        height: 40vh;
        background-image: url('../images/rwh-slider-02.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    header h1 {
        width: 70%;
        margin-right: 15%;
        margin-left: 15%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .nav-wrapper {
        background-color: #1a1a1a !important;
    }
    .main-area {
        height: auto;
    }
}